<ion-header>
  <ion-toolbar>
    <ion-title>Red de oportunidades</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
             <ion-button expand = "block"> 
               <ion-icon name="basket">Nueva oportunidad</ion-icon>
                Nueva oportunidad
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card *ngFor="let oportunidad of oportunidades">
      <ion-card-header>
         <ion-card-title>Descripcion : {{oportunidad.descripcion}}</ion-card-title>
         <ion-card-subtitle>Fecha : {{oportunidad.fecha}}</ion-card-subtitle>
      </ion-card-header>  
      <ion-card-content>
        ubicacion : {{oportunidad.ubicacion}}
      </ion-card-content>
    </ion-card>
</ion-content>
